<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns="htttp://www.w3.org/1999/html">
<head>
<title>Silph &mdash; Carrello</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700"
	rel="stylesheet">
<link rel="stylesheet" href="../fonts/icomoon/style.css">

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">
<link rel="stylesheet" href="../css/jquery-ui.css">
<link rel="stylesheet" href="../css/owl.carousel.min.css">
<link rel="stylesheet" href="../css/owl.theme.default.min.css">

<link rel="stylesheet" href="../css/lightgallery.min.css">

<link rel="stylesheet" href="../css/bootstrap-datepicker.css">


<link rel="stylesheet" href="../css/swiper.css">

<link rel="stylesheet" href="css/aos.css">

<link rel="stylesheet" href="../css/style.css">

</head>
<body>

	<div class="site-wrap">

		<div class="site-mobile-menu">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>




		<header class="site-navbar py-3" role="banner">

			<div class="container-fluid">
				<div class="row align-items-center">

					<div class="col-6 col-xl-2" data-aos="fade-down">
						<h1 class="mb-0">
							<a href="/" class="text-black h2 mb-0">Siph</a>
						</h1>
					</div>
					<div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
						<nav
							class="site-navigation position-relative text-right text-lg-center"
							role="navigation">
							<ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
								<li><a href="/">Home</a></li>
								<li class="has-children"><a>GALLERIA</a>
									<ul class="dropdown">
										<li><a href="/foto">Foto</a></li>
										<li><a href="/album">Album</a></li>
										<li><a href="/fotografi">Fotografi</a></li>
									</ul></li>
								<li><a href="/admin">StaffOnly</a></li>
								<li><a href="/carrello">Carrello</a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>


		<div class="row justify-content-center">
			<div class="col-12 ">
				<h2 class="site-section-heading text-center">Carrello</h2>
			</div>
		</div>
		<div style="margin-left: 10%; align-content: left;">
			<p class="text-left text-black h4">Foto selezionate:</p>
			<p class="error" th:if="${#fields.hasErrors('carrello.foto')}"
										th:errors="*{carrello.foto}"></p>
			<ul style="list-style: none;">
				<li class="text-black font-weight-light mb-4 h4 text-left"
					th:each="fot : ${carrello.foto}">
					<div class="row mb-5">
						<div>
							<a th:href="@{'/foto/'+${fot.id}}"> <img
								th:src="@{${fot.uri}}" th:alt="${fot.nome}" width="130px"
								height="130px"></a>
						</div>
						<div style="margin-right: 20%; margin-left: 3%; text-align: left;">
							<span style="color: gray; font-size: 22px;"
								th:text="'Nome: ' +${fot.nome}"> Nome: Albero</span><br> <span
								style="color: gray; font-size: 22px;"
								th:text="'Album: ' +${fot.album.nome}"> Album: Natura </span><br>
							<span style="color: gray; font-size: 22px;"
								th:text="'Autore: ' + ${fot.fotografo.nome} + ' ' + ${fot.fotografo.cognome}">
								Autore: Mario Rossi </span> <a
								th:href="@{'/rimuoviCarrello/'+${fot.id}}">
								<div class="row justify-content-left"
									style="margin-left: 0%; margin-top: 5px;">
									<img src="images/icons/trash.png" width="40" height="40">
								</div>
							</a>
						</div>
					</div>
				</li>
			</ul>
			<a th:href="@{/richiesta}">
				<div class="btn btn-primary py-2 px-4 text-white">Invia
					richiesta</div>
			</a>
		</div>
	</div>



	<div class="footer py-4 text-center">
		<div class="container-fluid">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script data-cfasync="false"
					src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
				<script>
					document.write(new Date().getFullYear());
				</script>
				All rights reserved | This template is made with <i
					class="icon-heart-o" aria-hidden="true"></i> by <a
					href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</div>






	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/bootstrap-datepicker.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/aos.js"></script>

	<script src="js/picturefill.min.js"></script>
	<script src="js/lightgallery-all.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>

	<script src="js/main.js"></script>
</body>
</html>